<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_page }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for game in list_games %}
            <li>
                <h4>
                    {{ game }}
                    <button>
                      {{ button_buy }}
                    </button>
                </h4>
            </li>
        {% endfor %}
    </ul>
    <h2>
        <button>
            <a href="/platform">{{ button_back }}</a>
        </button>
    </h2>
</body>
</html>