<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title_page %}
            Task 4
        {% endblock %}
    </title>
</head>
<body>
    {% block pagename %}
                 <h1></h1>
    {% endblock %}
    <nav>
        {% block menu %}
            <a href="#"><h2>Главная</h2></a>
            <a href="games/"><h2>Магазин</h2></a>
            <a href="card/"><h2>Корзина</h2></a>
        {% endblock %}
    </nav>
    {% block content %} {% endblock %}
</body>
</html>
